<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Sudoku</title>
    <link rel="stylesheet" href="./style.css">
  </head>
  <body class="flex-center" onload="onLoad()">
    <div class="main">
        <h1 style="font-size: 4em">Sudoku</h1>
        <div class="sudoku-table">
            {{- range $row := .Sudoku.Rows}}
                <div class="sudoku-row {{if $row.HorizBorder}}sudoku-horiz-border{{end}}">
                    {{- range $cell := $row.Cells}}
                        <div
                            id="{{$cell.Id}}"
                            class="sudoku-cell flex-center {{if $cell.VertBorder}}sudoku-vert-border{{end}}"
                            onclick="highlightSudokuCell(this.id)"
                        ></div>
                    {{- end}}
                </div>
            {{- end}}
        </div>
    </div>
	<script src="index.js"></script>
  </body>
</html>
