<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta content='yes' name='apple-mobile-web-app-capable'/>
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <meta content='yes' name='mobile-web-app-capable'/>
    <title>Sudoku</title>
    <link rel="stylesheet" href="./style.css">
  </head>
  <body class="flex-center">
    <div id="top-bar" class="flex-center">
        <div id="top-bar-content">
            <button id="new-game-button" class="top-bar-button">new game</button>
            <div id="sudoku-title">sudoku</div>
            <button id="settings-button" class="top-bar-button">settings</button>
        </div>
    </div>
    <div id="main">
        <div id="sudoku-header">
            <div id="game-difficulty"></div>
            <div id="game-timer"></div>
        </div>
        <div id="sudoku-table" class="prevent-select">
            {{- range $row := .Sudoku.Rows}}
                <div class="sudoku-row
                {{if $row.HorizBorder}}sudoku-horiz-border{{end}}">
                    {{- range $cell := $row.Cells}}
                        <div
                            id="{{$cell.Id}}"
                            class="sudoku-cell flex-center
                            {{if $cell.VertBorder}}sudoku-vert-border{{end}}"
                        ></div>
                    {{- end}}
                </div>
            {{- end}}
        </div>
        <div id="digit-btns" class="prevent-select">
            <div class="digit-btn-row">
                <div id="digit-btn-1" class="control-btn">1</div>
                <div id="digit-btn-2" class="control-btn">2</div>
                <div id="digit-btn-3" class="control-btn">3</div>
                <div id="digit-btn-4" class="control-btn">4</div>
                <div id="digit-btn-5" class="control-btn">5</div>
                <div id="digit-btn-6" class="control-btn">6</div>
                <div id="digit-btn-7" class="control-btn">7</div>
                <div id="digit-btn-8" class="control-btn">8</div>
                <div id="digit-btn-9" class="control-btn">9</div>
                <div id="digit-btn-x" class="control-btn">x</div>
                <div id="input-mode-button" class="control-btn digit-btn-text">
                    pen</div>
            </div>
        </div>
    </div>
	<script type="module" src="index.js"></script>
  </body>
</html>
