.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.prevent-select {
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}

body {
    margin: 0;
    padding: 0;
}

#top-bar {
    height: 90px;
    width: 100%;

    margin-bottom: 10px;
    @media screen and (max-width: 500px) {
        margin-bottom: 5px;
    }
}

#top-bar-content {
    height: 100%;
    width: 90vw;
    max-width: 675px;

    display: flex;
    flex-direction: row;
    align-content: space-between;
    justify-content: space-between;
    align-items: flex-end;
}

.top-bar-button {
    border: none;
    background: none;
    margin-bottom: 5px;

    font-size: 1.1em;
    @media screen and (max-width: 500px) {
        font-size: 1em;
    }
    @media screen and (max-width: 400px) {
        font-size: .9em;
    }
    @media screen and (max-width: 350px) {
        font-size: .8em;
    }
}

.top-bar-button:hover {
    background: #E4E4E4;
    border-radius: 5px;
}

#new-game-button {
    margin-left: 5px;
}

#settings-button {
    margin-right: 5px;
}

#sudoku-title {
    font-size: 4em;
    cursor: default;

    @media screen and (max-width: 500px) {
        font-size: 3.2em;
    }
    @media screen and (max-width: 400px) {
        font-size: 2.8em;
    }
    @media screen and (max-width: 350px) {
        font-size: 2.5em;
    }
}

#main {
    width: 95vw;
    max-width: 675px;

    display: flex;
    align-items: center;
    flex-direction: column;

    gap: 20px;
    @media screen and (max-width: 500px) {
        gap: 10px;
    }
}

#sudoku-header {
    height: 50px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    align-items: center;
    margin-bottom: 5px;

    font-size: 1.5em;
    @media screen and (max-width: 500px) {
        font-size: 1.3em;
    }
    @media screen and (max-width: 400px) {
        font-size: 1.1em;
    }
}

#sudoku-table {
    position: relative;

    width: 95vw;
    max-width: 675px;
    min-width: 250px;

    border: 5px solid black;
    border-collapse: collapse;

    @media screen and (max-width: 600px) {
        border: 3px solid black;
    }

    @media screen and (max-width: 500px) {
        border: 2px solid black;
    }

    @media screen and (max-width: 400px) {
        border: 2px solid black;
    }
}

.sudoku-row {
    display: flex;
    align-items: stretch;
    flex-direction: row;
}

.conflict-circle {
    position: absolute;
    top: 75%;
    left: 45%;
    width: 12%;
    height: 12%;
    background-color: #D22020;
    border-radius: 50%;
}

.sudoku-cell {
    font-family: Helvetica, sans-serif;

    border: 1px solid #494949;
    border-collapse: collapse;

    position: relative;
    width: 75px;
    aspect-ratio: 1/1;

    font-size: 2.5em;
    @media screen and (max-width: 600px) {
        font-size: 2em;
    }
    @media screen and (max-width: 500px) {
        font-size: 1.5em;
    }
    @media screen and (max-width: 400px) {
        font-size: 1.3em;
    }
}

.sudoku-cell-cursor {
    background: #ADD8E6;
}

.sudoku-cell-frozen {
    background: #E4E4E4;
}

.sudoku-cell-cursor.sudoku-cell-frozen {
    background: #7DB5C8;
}

.sudoku-vert-border {
    border-right: 3px solid black;

    @media screen and (max-width: 600px) {
        border-right: 2px solid black;
    }
}

.sudoku-horiz-border {
    border-bottom: 2px solid black;

    @media screen and (max-width: 600px) {
        border-bottom: 1px solid black;
    }
}

.hint-wrapper {
    width: 90%;
    aspect-ratio: 1/1;

    display: flex;
    align-items: stretch;
    flex-direction: column;
}

.hint-row {
    flex: 1 0;
    display: flex;
    align-items: stretch;
    flex-direction: row;
}

.hint {
    font-size: 18px;
    flex: 1 0;

    @media screen and (max-width: 600px) {
        font-size: 12px;
    }
    @media screen and (max-width: 500px) {
        font-size: 10px;
    }
    @media screen and (max-width: 400px) {
        font-size: 8px;
    }
}

#digit-btns {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.digit-btn-row {
    width: 95vw;
    max-width: 675px;
    min-width: 250px;

    display: flex;
    flex-direction: row;

    gap: 10px;
    @media screen and (max-width: 600px) {
        gap: 2px;
    }
}

.digit-btn-row > div {
    flex: 1;
}

.control-btn {
    font-family: Helvetica, sans-serif;

    border-collapse: collapse;
    border-radius: 5px;

    aspect-ratio: 5/6;


    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    font-size: 2.0em;
    @media screen and (max-width: 600px) {
        font-size: 2em;
    }
    @media screen and (max-width: 500px) {
        font-size: 1.5em;
    }
    @media screen and (max-width: 400px) {
        font-size: 1.3em;
    }
}

.control-btn:hover {
    background: #E4E4E4;
    border-radius: 5px;
}

.digit-btn-text {
    font-size: 0.95em;

    font-size: 1.1em;
    @media screen and (max-width: 600px) {
        font-size: .9em;
    }
    @media screen and (max-width: 500px) {
        font-size: .75em;
    }
    @media screen and (max-width: 400px) {
        font-size: .50em;
    }
}
