.sudoku-header {
    font-size: 4em;
    margin: 15px;

    @media screen and (max-width: 600px) {
        display: none;
    }
}

.main {
    width: 95vw;
    max-width: 675px;

    display: flex;
    align-items: center;
    flex-direction: column;
}

.sudoku-table {
    position: relative;

    width: 95vw;
    max-width: 675px;

    border: 5px solid black;
    border-collapse: collapse;

    @media screen and (max-width: 600px) {
        border: 3px solid black;
    }
}

.sudoku-row {
    display: flex;
    align-items: stretch;
    flex-direction: row;
    justify-content: space-evenly;
}

.sudoku-cell {
    border: 1px solid black;
    border-collapse: collapse;

    width: 75px;
    aspect-ratio: 1/1;

    font-size: 2.5em;

    @media screen and (max-width: 600px) {
        font-size: 2.0em;
    }

    @media screen and (max-width: 400px) {
        font-size: 1.5em;
    }
}

.sudoku-cell-cursor {
    background: #ADD8E6;
}

.sudoku-cell-frozen {
    background: #DDDDDD;
}

.sudoku-cell-cursor.sudoku-cell-frozen {
    background: #4D759A;
}

.sudoku-vert-border {
    border-right: 3px solid black;

    @media screen and (max-width: 600px) {
        border-right: 2px solid black;
    }
}

.sudoku-horiz-border {
    border-bottom: 3px solid black;

    @media screen and (max-width: 600px) {
        border-bottom: 1px solid black;
    }
}

.hint-wrapper {
    width: 90%;
    aspect-ratio: 1/1;

    display: flex;
    align-items: stretch;
    flex-direction: column;
}

.hint-row {
    flex: 1 0;
    display: flex;
    align-items: stretch;
    flex-direction: row;
}

.hint {
    font-size: 18px;
    flex: 1 0;

    @media screen and (max-width: 600px) {
        font-size: 12px;
    }

    @media screen and (max-width: 400px) {
        font-size: 8px;
    }
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.digit-btns {
    flex: 1 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.digit-btn-row {
    width: 100%;
    margin-top: 20px;

    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px;

    @media screen and (max-width: 600px) {
        margin-top: 15px;
    }

    @media screen and (max-width: 400px) {
        margin-top: 10px;
    }

    @media screen and (max-width: 350px) {
        margin-top: 8px;
    }
}

.control-btn {
    background-color: #DDDDDD;

    border: 1px solid black;
    border-collapse: collapse;
    border-radius: 5px;

    width: 80px;
    aspect-ratio: 1/1;

    font-size: 2.5em;

    @media screen and (max-width: 600px) {
        width: 55px;
        font-size: 1.8em;
    }

    @media screen and (max-width: 400px) {
        width: 45px;
        font-size: 1.5em;
    }

    @media screen and (max-width: 350px) {
        width: 38px;
        font-size: 1.3em;
    }
}

.control-btn:hover {
    background-color: #ADD8E6;
    cursor: pointer;
}

.digit-btn-hints-toggle {
    font-size: 1.3em;

    @media screen and (max-width: 600px) {
        font-size: 1.0em;
    }

    @media screen and (max-width: 400px) {
        font-size: 0.9em;
    }

    @media screen and (max-width: 350px) {
        font-size: 0.7em;
    }
}
